/* colors */
:root {
  --white: #fff;
  --transewhite: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --maindark: #42413c;
  --dark: #2a2626;
  --transedark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

/* end colors */

/* background */
.bg-white {
  background-color: var(--white);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-light {
  background-color: var(--light);
}

.bg-maindark {
  background-color: var(--maindark);
}

.bg-main {
  background-color: var(--main);
}

/* end background */

/* fonts */
.font-brown {
  color: var(--brown);
}

.font-grey {
  color: var(--transedark);
}

.font-dark {
  color: var(--dark);
}

.font-white {
  color: var(--white);
}

.font-maindark {
  color: var(--maindark);
}

.font-main {
  color: var(--main);
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-18 {
  font-size: 18px;
}

.font-52 {
  font-size: 52px;
}

.font-64 {
  font-size: 64px;
}

/* end fonts */

/* common */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #2a2626;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-family: 'Neucha', serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

.upper {
  text-transform: uppercase;
}

.bg-questions::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: '';
}

section:not(:first-child) {
  position: relative;
  top: -100px;
}

.container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.none-decor {
  text-decoration: none;
}

.col-50 {
  width: calc(50% - 15px);
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.btn {
  display: flex;
  justify-content: center;
  width: 124px;
  padding: 12px;

  border: 0;
}

/* end common */

/* header */
header {
  position: relative;

  overflow: hidden;
}

.img-fst {
  position: absolute;
  top: 55px;
  right: -270px;
}

.img-fst img{
  width: 1082px;
  height: 525px;
}

.btn-fst {
  margin-top: 30px;

  background-color: var(--main);
}

.btn-fst a {
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  text-decoration: none;
}

/* end header */

/* main */
.main-video {
  flex-direction: column;
  padding-bottom: 0;
}

.video {
  position: relative;
}

.nav-card {
  width: 350px;
}

.nav-card:nth-child(-n+3) {
  margin-bottom: 20px;
}

.nav-title {
  padding: 0;
}

.nav-cont {
  padding: 24px;
}

.nav-num {
  padding-bottom: 40px;

  font-family: 'Neucha', serif;
  line-height: 1em;
}

.nav-card:hover:not(:first-child) {
  background-color: var(--main);
}

.nav-card:hover .nav-num,
.nav-card:hover h3,
.nav-card:hover p {
  color: var(--white);
}

.distor-img {
  width: 52.1%;
}

.distor-header {
  width: 45.3%;
}

.subheader {
  width: 100%;

  padding: 1px 0 2px 8px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

/* end main */

/* footer */
footer .container {
  padding-top: 0;
}

.footer-form-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
}

.footer-title {
  width: 450px;
  padding: 3px 0;

  font-size: 36px;
  font-family: 'Neucha', serif;

  line-height: 1.2em;
}

.footer-mail-form {
  width: 490px;
}

form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

form .mail-input {
  width: calc(100% - 105px);
  height: 20px;
  padding: 15px;

  border: none;
}

.submit-button {
  width: 70px;
  height: 50px;

  border: none;
}

.submit-button::before {
  position: relative;
  top: 12px;
  left: 22px;

  padding: 1px 14px;

  background-image: url('../images/send.svg');
  background-repeat: no-repeat;
  background-size: auto;

  content: "";
}

.contacts {
  margin: 60px auto 0 auto;

  text-align: center;
}

/* end footer */

/* margins */
.mt-200 {
  margin-top: 200px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-28 {
  margin-top: 28px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

/* end margins */

/* paddings */
.pt-200 {
  padding-top: 200px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-9 {
  padding-bottom: 9px;
}

/* end paddings */

/* z-index */
.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

/* end z-index */
