:root {
    --white: #fff;
    --transewhite: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --maindark: #42413c;
    --dark: #2a2626;
    --transedark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

/*common*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em; 
    color: #2A2626;   
}

h1, h2, h3 {
    font-family: 'Neucha', serif;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3{
    font-size: 34px;
}
/*end common*/

/*header*/

/*end header*/

/*main*/
main {
    
}

section {
    max-width: 1110px;
    display: flex;
    justify-content: center;
}
/*end main*/